* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-google-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* navbar section */

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 85px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li {
    list-style: none;
}

.menu li a {
    text-decoration: none;
    margin-right: 34px;
}

/* hero section */

.container {
    display: flex;
    /* justify-content: space-between; */
    gap: 130px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    padding-top: 50px;
}

.content {
    max-width: 582px;
}

.content h2 {
    font-weight: bold;
    font-size: 3.25rem;
    margin-bottom: 16px;
}

.content p {
    font-size: 1rem;
    font-weight: 700;
    color: #3A3A3A;
    margin-bottom: 16px;
}

.styles {
    width: 196px;
    border-radius: 41px;
    text-align: center;
    background-color: #E02C6D;
    color: #FFFFFF !important;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 24px;
}

.images img {
    width: 475px;
}
/* company section */
.company {
    padding-top: 70px;
}
.company-name {
    padding: 36px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1110px;
    margin: 0 auto;
}
/* Popular Collection */
.Popular {
    padding-top: 100px;
}
.collection {
    margin: 0 auto;
    max-width: 1060px;
}
.collection h3 {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 700px;
    margin-bottom: 30px;
}
.collection-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.card {
    max-width: 329px;
    border-radius: 8px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 17px 14px;
}
.card img {
    width: 100%;
    margin-bottom: 16px;
    border-radius: 5px;
}
.card h4 {
    font-size: 1.75rem;
    color: #18191F;
    margin-bottom: 6px;
}
.dolor {
    font-size: 1.5rem;
    color: #000000;
}
.card {
    font-size: 0.8rem;
    font-weight: bold;
    color: #787885;
}
.pragraph {
    text-align: right;
    margin-top: 50px;
    color: #E02C6D;
    font-size: 1rem;
    font-weight: 600;
}
/* Featured products at one place */
.featured {
    padding-top: 100px;
    padding-bottom: 100px;
}
.featured-container {
    display: flex;
    max-width: 1110px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    gap: 96px;
}
.featured-image {
    width: 404px;
    border-radius: 7px;
}
.featured-content {
    max-width: 610px;
}
.featured-content h2 {
    font-size: 2.3rem;
    font-weight: 600px;
    margin-bottom: 16px;
}
.featured-content p {
    font-size: 1rem;
    font-weight: bold;
    line-height: 28px;
    color: #6C6C6C;
    margin-bottom: 16px;
}
button {
 background-color: #E02C6D;
 color: #FFFFFF;
 border: none;
 font-size: 1rem;
 font-weight: bold;
 padding: 10px 24px;
 
}